<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ioc" type="Sciendo.IOC.Configuration.IOCConfigurationSection, Sciendo.IOC.Configuration" />
    <section name="myioc" type="Sciendo.IOC.Configuration.IOCConfigurationSection, Sciendo.IOC.Configuration" />
  </configSections>
  <ioc>
    <assemblies>
      <add key="lib" assemblyFilter="*.SampleLib.*"/>
      <add key="all" assemblyFilter="*.SampleLib.dll;Sciendo.IOC.Tests.*;Unknown.Assembly.*"/>
    </assemblies>
  </ioc>
  <myioc>
    <assemblies>
      <add key="lib" assemblyFilter="*.SampleLib.*"/>
      <add key="all" assemblyFilter="*.SampleLib.dll,Sciendo.IOC.Tests.*,Unknown.Assembly.*"/>
    </assemblies>
  </myioc>
</configuration>